.nav {
	display: flex;
	flex-direction: row;
	gap: 10px;
	background-color: red;
	color: azure;
	padding: 30px;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.listItem {
	list-style: none;
}
/* 
.active-link {
	text-decoration: none;
	color: white;
	border: 1px solid blue;
	border-radius: 25%;
	padding: 3px 6px;
	background: transparent;
}
.inactive-link {
	text-decoration: none;
	color: blue;
	border: 1px solid red;
	border-radius: 15%;
	padding: 6px 9px;
	background: transparent;
  color: blue;
}
 */
/* Styles.css */
.active-link {
	font-weight: bold;
	color: green;
}

.inactive-link {
	font-weight: normal;
	color: black;
}

button {
	padding: 2px 4px;
	border-radius: 25%;
}
.button-dark {
	background: #000;
	color: aliceblue;
}

section {
	padding: 4px;
	border: 2px solid;
	width: 200px;
}
.panel-dark {
	background: rgb(48, 47, 47);
	color: azure;
}

.items {
	display: flex;
	gap: 5px;
}
